* {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

input:focus {box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);}

input, button {outline: none;}

input {
  margin: 8px;
  padding: 8px;
  border: none; 
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

#all-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px;
}
.video-thumb {
  width: 320px;
  height: 180px;
}

.video {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  margin: 12px;
}

.video-title {
  padding-top: 8px;
}

#live-video {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
}

.embed-video, .embed-chat {
  width: 50%;
  display: flex;
  justify-content: center;
}

#chat-search {
  padding: 8px;
  width: 100%;
}

.search-result-header {
  margin: 0;
}

.search-msg {
  margin: 8px;
}

.search-msg-timestamp {
  margin-right: 8px;
  color: #999;
}

.back-btn {
  border: 1px solid #000;
  padding: 4px 16px;
  font-size: 18px;
  background: #000;
  color: #fff;
  margin: 8px;
}

