* {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

input:focus {box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);}

input, button {outline: none;}

body {
  background: #37474f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  margin: 8px;
  padding: 8px;
  border: none; 
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

.container {
  padding: 48px 24px;
}

#buttons {
  color: #fff;
  text-align: center;
}

#login-container {
  text-align: center;
  color: #fff;
}

#login-link {
  border: none;
  background: #32c3a2;
  color: #fff;
  border-radius: 50px;
  font-size: 2em;
  padding: 8px 28px;
}

#query {
  margin: 0;
  border: none;
  font-size: 24px;
  
}

#search-button {
  border: none;
  background: #fff;
  color: #ccc;
  font-size: 24px;
  padding: 8px;
  border-left: 1px solid #ccc;
}

#search-button:hover {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  color: #32c3a2;
}

#all-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px;
}
.video-thumb {
  width: 320px;
  height: 180px;
}

.video {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  margin: 12px;
}

.video-title {
  padding-top: 8px;
  color: white;
}

#live-video {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
}

.embed-video, .embed-chat {
  width: 50%;
  display: flex;
  justify-content: center;
}

#chat-search {
  padding: 8px;
  width: 100%;
}

.search-result-header {
  margin: 0;
}

.search-msg {
  margin: 8px;
  color: #fff;
}

.search-msg-timestamp {
  margin-right: 8px;
  color: #ccc;
}

.back-btn {
  border: 1px solid #9267ff;
  padding: 8px 24px;
  font-size: 18px;
  background: #9267ff;
  color: #fff;
  margin: 8px;
  border-radius: 50px;
}

